* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexColumnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listPageShow,
.listAra {
  padding-top: 1.5rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
}

.listPageShow {
  padding-left: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Center vertically */
}

.listPageShow > span {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.listPageShow > input {
  width: 1.8rem;
  height: 1.5rem;
  flex-shrink: 0;
  background: #fff;
  border: none;
  border-bottom: 0.1rem solid #64e9b1;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  text-align: center;
}

.listAra {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Center vertically */
}

.listAra > span {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.araButton {
  width: 9rem;
  height: 1.5rem;
  flex-shrink: 0;
  background: #fff;
  border: none;
  background-color: transparent;
  border-bottom: 0.1rem solid #212a3e;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  text-align: center;
}

.araButton:onclick {
  width: 9rem;
  height: 1.5rem;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  border-bottom: 0.1rem solid #212a3e;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  text-align: center;
}

.bottomSort {
  border: none;
  margin-left: 0.3rem;
}

.thead {
  align-items: center;
  text-align: center;
}

.th {
  text-align: center;
}

.background {
  border: 1px solid #000;
  background: #e5e5e5;
  height: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
}

.allUsersHeader {
  color: #212a3e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.allUsersHeaderDiv {
  display: flex;
  align-items: center;
}

.allUsersHeaderDiv > div {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allUsersSubHeader {
  color: #212a3e;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.list {
  border-radius: 7.5px;
  background: #f1f1f1;
  margin: auto;
  margin-top: 1rem;
  width: 90%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.paginationButton {
  width: 23px;
  height: 23px;
  margin-bottom: 2rem;
  flex-shrink: 0;
  background: #212a3e;
  color: whitesmoke;
  border-radius: 50%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.editButton {
  margin-right: 1rem;
}

.tableHeader {
  border-collapse: collapse;
}

.tableHeader th {
  border-bottom: 2px solid #ccc;
}

.lineTableBody td {
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.lineTableBody tr:last-child td {
  border-bottom: none;
}

.combo-box {
  border-bottom: 2px solid #64e9b1;
  background-color: transparent;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
