* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/images/Login/loginbacground.png") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(229, 224, 224, 0.9);
  padding: 20px;
  z-index: 1; 

}

.placeholder-input {
  margin-bottom: 10px;
  padding: 20px;
  border: none;
  border-bottom: 2px solid #000;
  background: transparent;
  width: 500px;
  outline: none;
  box-shadow: none;
  font-size: 20px;

}

.cbottom {
  display: flex;
  justify-content: center;
  gap: 10px;

}

.button {
  padding: 8px 16px;
  width: 250px;
  height: 61px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  
  background: linear-gradient(
    135deg,
    rgba(33, 42, 62, 0.9) 0%,
    rgba(33, 42, 62, 0.9) 39.47%,
    rgba(152, 151, 154, 0.9) 100%
  );

  color: white;
  font-family: "Poppins";
  font-size: 16px;
  z-index: 1; 
}

.user-menu {
  display: flex;
  flex-direction: column;
  z-index: 1; 
}

.password,
.username {
  width: 296px;
  height: 30px; /* Önceki değer 78px idi, şimdi daha küçük bir değere sahip */
  color: #212a3e;
  font-family: "Poppins";
  font-size: 22px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  z-index: 1; 
}

.vektor5 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.vektor6 {
  position: absolute;
  top: 12.938rem;
  right: 0;
  z-index: 0;
}
.vektor7 {
  position: absolute;
  left: 7.375rem;
  right: 712.5px;
  bottom: 0;
  z-index: 0;
}
